---
import Layout from '../layouts/Layout.astro'
import RefreshIcon from '../components/refresh-icon.astro'
import CopyIcon from '../components/copy-icon.astro'
---

<Layout title='Generate secret string'>
  <main class='flex flex-col w-full h-screen justify-between items-center text-gainsboro'>
    <div></div>
    <div class='w-full min-w-fit relative max-w-md flex flex-col gap-4'>
      <h1 class='text-xl'>Click to copy secret! And shh, keep it safe 🤫</h1>
      <div class='flex flex-wrap gap-3 relative w-full'>
        <button
          id='new-string-btn'
          class='group w-fit rounded-md p-3 bg-ming shadow-xl hover:bg-[#487B84] transition-colors'>
          <div
            class='group-hover:text-white transition-colors group-focus:animate-[spin_600ms_ease] group-active:animate-none'>
            <RefreshIcon />
          </div>
        </button>
        <span
          id='copy-btn'
          class='group w-[24rem] min-w-fit p-2 flex gap-2 cursor-pointer items-center justify-between rounded-md bg-ming hover:bg-[#487B84] shadow-xl transition-colors'>
          <div class='w-full flex justify-center'><span id='generated-string' class='text-white'></span></div>
          <span class='px-1'><CopyIcon /></span>
        </span>
      </div>
      <div id='copy-success' class='text-center opacity-0 duration-300 transition-opacity'>Copied!</div>
    </div>

    <div class='p-12 mx-3 text-white/60 border-t border-white/25'>
      <p class='max-w-sm'>
        Made with <a href='https://astro.build/' target='_blank' class='text-white'>Astro</a> and hosted on <a
          href='https://vercel.com/'
          target='_blank'
          class='text-white'
          >Vercel
        </a>. Source code can be found on <a
          href='https://github.com/vetledv/string-gen'
          target='_blank'
          class='text-white font'
          >Github
        </a>.
      </p>
    </div>
  </main>
</Layout>

<script defer>
	//try using @astrojs/react?
  const generateString = (length) => {
    const chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
    let result = ''
    for (let i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)]
    return result
  }
  const generatedString = document.getElementById('generated-string')
  generatedString.innerText = generateString(32)

  const newStringBtn = document.getElementById('new-string-btn')
  const copyBtn = document.getElementById('copy-btn')
  const copySuccess = document.getElementById('copy-success')

  const newString = () => {
    const newValue = generateString(32)
    generatedString.innerText = newValue
    return newValue
  }

  newStringBtn.addEventListener('click', newString)
  copyBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(generatedString.innerText)
    copySuccess.classList.add('opacity-1') // for safari
    copySuccess.style.opacity = 1 // for firefox/chrome
    setTimeout(() => {
      copySuccess.classList.remove('opacity-1')
      copySuccess.style.opacity = 0
    }, 1500)
  })
</script>
